html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

.container-big{
    max-width: 1773px;
    padding: 0 10px;
    margin: 0 auto;
}

.container{
    max-width: 1172px;
    padding: 0 10px;
    margin: 0 auto;
}

.title{
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    text-align: center;
}

.section__filtr{
    max-width: 380px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .mixitup-control-active{
        @extend %dmsans-700;
    }
}
.section__filtr-btn{
    background-color: transparent;
    border: none;
    @extend %dmsans-400;
    font-size: 16px;
    color: #1A1A1A;
}

.hover-link{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    &:nth-child(2){
        span{
            display: none;
        }
    }

}
.hover-link:hover{
    background-color: #A3BBC8;
    svg{
        fill: #fff;
    }
}
.hover-link+.hover-link{
    margin-left: 15px;
}

.breadcrumbs{
    &__list{
        display: flex;
        justify-content: center;
    }
    &__item{
        padding-right: 25px;
        position: relative;
        &::after{
            position: absolute;
            content: '/';
            right: 10px;
            top: 1px;
        }
        &:last-child{
            padding-right: 0;
            &::after{
                display: none;
            }
        }
    }
    &__item-link{
        color: rgba(34, 41, 51, 0.6);
        @extend %rubik-400;
        font-size: 14px;
    }
}
