html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

.container-big{
    max-width: 1773px;
    padding: 0 10px;
    margin: 0 auto;
}

.container{
    max-width: 1172px;
    padding: 0 10px;
    margin: 0 auto;
}

.title{
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    text-align: center;
}

.section__filtr{
    max-width: 380px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .mixitup-control-active{
        @extend %dmsans-700;
    }
}
.section__filtr-btn{
    background-color: transparent;
    border: none;
    @extend %dmsans-400;
    font-size: 16px;
    color: #1A1A1A;
}

.hover-link{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    &:nth-child(2){
        span{
            display: none;
        }
    }

}
.hover-link:hover{
    background-color: #A3BBC8;
    svg{
        fill: #fff;
    }
}
.hover-link+.hover-link{
    margin-left: 15px;
}

.top{
    background-color: rgba(163, 187, 200, 0.2);
    padding: 35px 0;
    &__inner{
        text-align: center;
    }
    &__title{
        color: #222933;
        @extend %rubik-300;
        font-size: 36px;
        margin-bottom: 10px;
    }
}

.breadcrumbs{
    &__list{
        display: flex;
        justify-content: center;
    }
    &__item{
        padding-right: 25px;
        position: relative;
        &::after{
            position: absolute;
            content: '/';
            right: 10px;
            top: 1px;
        }
        &:last-child{
            padding-right: 0;
            &::after{
                display: none;
            }
        }
    }
    &__item-link{
        color: rgba(34, 41, 51, 0.6);
        @extend %rubik-400;
        font-size: 14px;
    }
}

.comments-form{
    &__title{
        color: #436372;
        font-size: 24px;
        @extend %rubik-700;
        margin-bottom: 50px;
    }
    &__box-input{
        display: flex;
        margin-bottom: 20px;
    }
    &__text-input{
        width: 50%;
        height: 51px;
        padding: 19px 19px 19px 21px;
        border: 1px solid #A3BBC8;
        &::placeholder{
            color: #999999;
            font-size: 16px;
            @extend %rubik-400;
        }
        &+.comments-form__text-input{
            margin-left: 30px;
        }
    }
    &__textarea{
        height: 120px;
        width: 100%;
        margin-bottom: 40px;
        resize: none;
        padding: 20px 22px;
        border: 1px solid #A3BBC8;
        &::placeholder{
            color: #999999;
            font-size: 16px;
            @extend %rubik-400;
        }
    }
    &__btn{
        padding: 20px 35px;
        color: #fff;
        font-size: 14px;
        @extend %rubik-400;
        border: none;
        background-color: #A3BBC8;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

@media (max-width: 650px){
    .section__filtr{
        margin-bottom: 30px;
    }
    .comments-form{
        &__text-input{
            &::placeholder{
                font-size: 14px;
            }
            &+.comments-form__text-input{
                margin-left: 15px;
            }
        }
    }
}

@media (max-width: 500px){
    .section__filtr-btn{
        font-size: 14px;
    }
    .title{
        font-size: 26px;
    }
    .top{
        &__title{
            font-size: 30px;
        }
    }
}
