@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';



.header{
    padding: 25px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo{
    display: flex;
    align-items: center;
    .logo-text{
        width: 83px;
        height: 35px;
        padding-left: 12px;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item+.menu__list-item{
        padding-left: 20px;
    }
    &__list-link{
        font-size: 15px;
        color: #436372;
        @extend %rubick-700;
    }
}

.user-nav{
    display: flex;
    &__link{
        position: relative;
    }
    &__search,
    &__tile{
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #A3BBC8;       
    }
    &__search{
        background-color: rgba(163, 187, 200, 0.2);
    }
    &__search-img{
        position: absolute;
        top: 17px;
        left: 17px;
    }
    &__tile-img{
        position: absolute;
        top: 15px;
        left: 15px;
    }
    &__double-btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 180px;
        padding: 0 42px;
        margin: 0 20px;
        border-radius: 26px;
        background-color: #FCD7B6;
        img{
            width: 20px;
            height: 18px;
        }
    }
    &__link-num{
        position: absolute;
        line-height: 17px;
        font-size: 13px;
        background-color: #fff;
        border-radius: 50%;
        width: 17px;
        text-align: center;
        top: -9px;
        right: -9px;
        color: #436372;
    }
    &__double-btn-line{
        width: 1px;
        height: 35px;background-color: #fff;
    }
}







@import 'media';