@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header{
    padding: 25px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo{
    display: flex;
    align-items: center;
    .logo-text{
        width: 83px;
        height: 35px;
        padding-left: 12px;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item+.menu__list-item{
        padding-left: 20px;
    }
    &__list-link{
        font-size: 15px;
        color: #436372;
        @extend %rubik-700;
    }
}

.user-nav{
    display: flex;
    &__link{
        position: relative;
    }
    &__search,
    &__tile{
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #A3BBC8;       
    }
    &__search{
        background-color: rgba(163, 187, 200, 0.2);
    }
    &__search-img{
        position: absolute;
        top: 17px;
        left: 17px;
    }
    &__tile-img{
        position: absolute;
        top: 15px;
        left: 15px;
    }
    &__double-btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 180px;
        padding: 0 42px;
        margin: 0 20px;
        border-radius: 26px;
        background-color: $accent-bg;
        img{
            width: 20px;
            height: 18px;
        }
    }
    &__link-num{
        position: absolute;
        line-height: 17px;
        font-size: 13px;
        background-color: #fff;
        border-radius: 50%;
        width: 17px;
        text-align: center;
        top: -9px;
        right: -9px;
        color: #436372;
    }
    &__double-btn-line{
        width: 1px;
        height: 35px;
        background-color: #fff;
    }
}

.top{
    background-color: rgba(163, 187, 200, 0.2);
    padding: 35px 0;
    &__inner{
        text-align: center;
    }
    &__title{
        color: #222933;
        @extend %rubik-300;
        font-size: 36px;
        margin-bottom: 10px;
    }
}



.top-slider{
    &__item{
        background-color: $accent-bg;
        padding: 225px 300px 280px;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        max-width: 407px;
    }
    &__title{
        color: #243F4D;
        font-size: 72px;
        line-height: 82px;
        letter-spacing: -1px;
        @extend %rubik-500;
        margin-bottom: 45px;
    }
    &__text{
        color: #436372;
        @extend %rubik-400;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 40px;
        max-width: 360px;
    }
    &__link{
        display: inline-block;
        padding: 26px 101px 21px 28px;
        background-color: #A3BBC8;
        color: #fff;
        @extend %rubik-500;
        font-size: 15px;
        position: relative;
        &::after{
            position: absolute;
            content: url('../images/arrow-img.svg');
            top: 25px;
            right: 21px;
        }
    }
    &__images{
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 635px;
            height: 635px;
            border-radius: 50%;
            background:  linear-gradient(-90deg, #fff, transparent);;
            top: -180px;
            right: -140px;
        }
    }
    &__img{
        position: relative;
        z-index: 5;
    }
    .slick-dots{
        display: flex;
        position: absolute;
        left: 50%;
        bottom: 45px;
        button{
            background-color: rgba(255, 255, 255, 0.3);
            border: none;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: #243F4D;
            font-size: 15px;
            @extend %rubik-500;
            margin-right: 10px;
        }
    }
    .slick-active{
        button{
            background-color: #fff;
        }
    }
}

.aboutUs{
    &__inner{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        min-height: 172px;
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(252, 215, 182, 0.2);
        width: 100%;
        height: 100%;
        border-right: 2px solid rgba(36, 63, 77, 0.1);
    }
    &__item+.aboutUs__item{
        border-left: 2px solid rgba(36, 63, 77, 0.1);
    }
    &__item-images{
        margin-right: 30px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: rgba(163, 187, 200, 0.3);
            top: 34px;
            right: -5px
        }
    }
    .truck-images{
        &::after{
            top: 16px;
            right: -6px;
        }
    }
    &__item-title{
        @extend %dmsans-700;
        font-size: 18px;
        color: #414141;
        margin-bottom: 15px;
    }
    &__item-descr{
        @extend %dmsans-400;
        font-size: 14px;
        color: #585858;
    }
}

.ofTheWeek{
    padding: 73px 0 86px;
    &__title{
        margin-bottom: 40px;
    }
    .section__filtr{
        margin: 0 auto 80px;
    }
    &__products{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 380px );
        grid-row-gap: 40px;
        grid-column-gap: 30px;
        justify-content: space-between;
    }
    &__products-item{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 14px 28px rgba(0,0,0,0.1);
        padding-bottom: 38px;
    }
    &__products-img{
        margin: auto;
    }
    &__products-title{
        @extend %dmsans-700;
        font-size: 16px;
        color: #243F4D;
    }
    &__products-price{
        margin-top: 17px;
        @extend %dmsans-700;
        font-size: 16px;
        color: #A3BBC8;
    }
    &__products-hover{
        position: absolute;
        display: flex;    
        top: 182px;
        left: 50px;  
        opacity: 0;
        transition: all .5s;
    }
    .hover-link{
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;

    }
    .hover-link:hover{
        background-color: #A3BBC8;
        svg{
            fill: #fff;
        }
    }
    .hover-link+.hover-link{
        margin-left: 15px;
    }
    &__products-item:hover{
        .ofTheWeek__products-hover{
            opacity: 1;
        }
    }
}

.specialOffer{
    padding-top: 100px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        min-height: 390px;
        max-width: 870px;
        width: 100%;
        background-color: rgba(252, 215, 182, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #243F4D;
    }
    &__item-img{
        margin-right: 20px;
        margin-top: -99px;
    }
    &__item-text{
        max-width: 330px;
    }
    &__item-title{
        @extend %dmsans-700;
        font-size: 26px;
        margin-bottom: 32px;
    }
    &__item-descr{
        @extend %rubik-400;
        font-size: 16px;
        margin-bottom: 33px;
    }
    &__item-link{
        color: #436372;
        padding: 25px 86px 25px 21px;
        @extend %rubik-500;
        font-size: 15px;
        border: 1px solid #243F4D;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        &::after{
            position: absolute;
            content: url('../images/arrow-2.svg');
            top: 25px;
            right: 20px;
        }
    }
}

.design{
    padding: 100px 0;
    &__title{
        margin-bottom: 30px;
    }
    .section__filtr{
        margin: 0 auto 80px;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 247px );
        grid-gap: 30px;
        justify-content: space-between;
    }
    &__content-item{
        padding: 45px 0 35px 40px;
        @extend %dmsans-700;
        background-color: #F8F8F8;
    }
    &__content-title{
        font-size: 20px;
        color: #1A1A1A;
        margin-bottom: 20px;
    }
    &__content-link{
        font-size: 16px;
        color: #A3BBC8;
    }
}

.video{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.blog{
    padding-top: 120px;
    .blog-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
        &__link{
            color: #262626;
            @extend %dmsans-700;
            font-size: 16px;
            padding-right: 25px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                background-image: url(../images/blog-arrow.svg);
                width: 8px;
                height: 13px;
                top: 4px;
                right: 0;
            }
        }
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
    }
    &__item{
        max-width: 371px;
    }
    &__item-linkimg{
        display: block;
        height: 250px;
        background-size: cover;
        // img{
        //     height: 250px;
        //     object-fit: cover;
        // }
    }
    &__item-linknews{
        color: #fff;
        @extend %poppins-700;
        font-size: 14px;
        padding: 10px 30px;
        background-color: #A3BBC8;
        border-radius: 20px;
        margin-top: -23px;
        margin-left: 27px;
        width: 105px;
        display: flex;
        z-index: 5;
        position: relative;
    }
    &__item-linktitle{
        padding: 23px 27px 0px 31px;
        display: block;
    }
    &__item-title{
        color: #262626;
        @extend %dmsans-500;
        font-size: 18px;
        border-bottom: 2px solid #E0E0E0;
        padding-bottom: 17px;
    }
    &__item-info{
        padding: 22px 0 27px 36px;
        display: flex;
    }
    &__item-time,
    &__item-linkauthor{
        color: #222933;
        @extend %rubik-400;
        font-size: 12px;
        position: relative;
        padding-left: 20px;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 25px;
            height: 28px;
        }
    }
    &__item-time{
        padding-right: 31px;
        &::before{
            background-image: url(../images/icons/);
        }
    } 
    &__item-linkauthor{
        &::before{
            background-image: url(../images/icons/);
        }
    }
}
.partners{
    background-color: rgba(252, 215, 182, 0.2);
    padding: 265px 0 89px;
    margin-top: -195px;
    &__inner{
        display: flex;
        justify-content: space-around;
    }
}

.modal{
    padding-top: 120px;
    &__form{
        max-width: 480px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        color: #436372;
        @extend %rubik-400;
        font-size: 14px;
    }
    &__label{
        display: block;
        margin-bottom: 28px;
    }
    &__input{
        display: block;
        margin-top: 14px;
        width: 100%;
        background-color: #F6F6F6;
        border: none;
        height: 60px;
    }
    &__btn{
        padding: 24px 0 20px;
        background-color: #A3BBC8;
        color: #FFFEFE;
        @extend %rubik-500;
        font-size: 18px;
        border: none;
        margin-bottom: 35px;
    }
    &__form-box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 66px;
    }
    &__form-link{
        color: #436372;
        display: block;
    }
    &__register-btn{
        margin-top: 23px;
        border: none;
        border: 1px solid #A3BBC8;
        background-color: #fff;
        color: #243F4D;
        @extend %rubik-500;
        font-size: 18px;
        padding: 24px 0;
    }
    .partners{
        margin-top: 120px;
        padding-top: 90px;
    }
}

.terms{
    padding-top: 120px;
    &__content{
        color: #243F4D;
        line-height: 23px;
    }
    &__block+.terms__block{
        margin-top: 70px;
    }
    &__title{
        @extend %rubik-500;
        font-size: 24px;
        margin-bottom: 30px;
    }
    ol.terms__list{
        padding-left: 25px;
        list-style: decimal-leading-zero;
    }
    &__list-item,
    &__text{
        @extend %rubik-400;
        font-size: 16px;
    }
    &__block{
        margin-top: 70px;
        &:first-child{
            margin-top: 0;
        }
    }
}

.about{
    padding: 120px 0;
    color: #243F4D;
    &__inner{
        display: flex;
        justify-content: space-between;
        height: 680px;
    }
    &__images{
        max-width: 572px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__content{
        max-width: 550px;
        padding: 86px 0 97px;
    }
    &__top{
        display: flex;
        align-items: flex-end;
        margin-bottom: 53px;
    }
    &__top-num{
        margin-right: 30px;
        color: #A3BBC8;
        @extend %rubik-700;
        font-size: 140px;
        line-height: 105px;
    }
    &__top-item{
        padding-top: 10px;
        @extend %rubik-400;
        font-size: 16px;
    }
    &__text{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            height: 4px;
            max-width: 500px;
            width: 100%;
            background-color: rgba($color: #09316F, $alpha: 0.1)
        }
    }
    &__title{
        @extend %dmsans-700;
        font-size: 36px;
        margin-bottom: 50px;
    }
    &__descr{
        font-size: 16px;
        @extend %rubik-400;
        margin-bottom: 63px;
        line-height: 26px;
    }
    &__achievements{
        padding-top: 42px;
        display: flex;
        justify-content: space-between;
        max-width: 525px;
        width: 100%;
    }
    &__achievements-item{
        @extend %dmsans-700;
        padding-left: 50px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            width: 45px;
            height: 45px;
            top: 5px;
            left: -5px;
        }
        &:first-child{
            &::before{
            background-image: url('../images/icons/projects-img.svg');
            }
        }
        &:nth-child(2){
            &::before{
            background-image: url('../images/icons/revenue-img.svg');
            }
        }
        &:last-child{
            &::before{
            background-image: url('../images/icons/awards-img.svg');
            }
        }
    }
    &__achievements-item+.about__achievements-item{
        &::after{
            position: absolute;
            content: '';
            width: 2px;
            height: 82px;
            background-color: rgba($color: #09316F, $alpha: 0.1);
            top: -17px;
            left: -35px;
        }
    }
    &__achievements-num{
        font-size: 36px;
        margin-bottom: 13px;
        line-height: 19px;
    }
    &__achievements-text{
        color: #4C4C4C;
        font-size: 16px;
    }
}

.widgets{
    padding: 84px 0;
    background-color: $accent-bg;
    &__inner{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
    &__item{
        text-align: center;
        color: $accent;
        @extend %dmsans-700;
    }
    &__item-images{
        position: relative;
        width: 68px;
        height: 65px;
        margin: auto;
        display: flex;
        align-items: flex-end;
        &::after{
            content: '';
            position: absolute;
            width: 36px;
            height: 36px;
            background-color: rgba($color: #A3BBC8, $alpha: 0.6);
            border-radius: 50%;
            top: 13px;
            right: -9px;
        }
    }
    &__item-img{
        margin: 0 auto;
        margin-bottom: 25px;
    }
    &__item-num{
        font-size: 36px;
        margin-bottom: 26px;
    }
    &__item-text{
        font-size: 18px;
    }
}

.team{
    padding-top: 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__descr{
        max-width: 305px;
        color: $accent;
        padding-top: 8px;
        margin-right: 10px;
    }
    &__descr-title{
        @extend %dmsans-700;
        font-size: 36px;
        margin-bottom: 38px;
    }
    &__descr-text{
        @extend %rubik-400;
        font-size: 16px;
        margin-bottom: 40px;
        line-height: 28px;
    }
    &__descr-link{
        color: #fff;
        @extend %poppins-600;
        font-size: 15px;
        padding: 20px 60px 18px 19px;
        position: relative;
        background-color: #A3BBC8;
        display: inline-block;
        &::after{
            content: url('../images/arrow-img.svg');
            position: absolute;
            top: 20px;
            right: 17px;
        }
    }
    &__teammate{
        max-width: 773px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__teammate-item{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 373px;
        height: 321px;
        margin-bottom: 99px;
        display: flex;
        align-items: flex-end;
    }
    &__teammate-box{
        padding: 32px 21px 28px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        transform: translateY(68px);
        margin-left: -1px;
        max-width: 326px;
        width: 100%;
    }
    &__teammate-name{
        color: #436372;
        @extend %dmsans-700;
        font-size: 22px;
        margin-bottom: 21px;
    }
    &__teammate-role{
        color: #565872;
        @extend %rubik-400;
        font-size: 16px;
    }
    &__teammate-social{
        display: flex;
    }
    &__teammate-link{
        margin-left: 6px;
        background-color: #F6F6F6;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.shop{
    &__inner{
        display: flex;
    }
}

.filter{
    width: 273px;
    &__item{
        color: $accent;
    }
    &__title{
        @extend %dmsans-700;
        font-size: 18px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 40px;
            height: 4px;
            background-color: #A3BBC8;
            top: 8px;
        }
    }
    .price-title{
        margin-bottom: 34px;
        &::after{
            left: 60px;
        }
    }
}

.filter-price{
    &__label{
        display: flex;
        justify-content: space-between;
        @extend %rubik-400;
        font-size: 14px;
        margin-top: 22px;
    } 
}
      
.irs--flat .irs-line {
    top: 0;
    height: 4px;
    background-color: rgba($color: #A3BBC8, $alpha: 0.66);
    border-radius: 4px;
}

.irs--flat .irs-handle {
    top: -6px;
    width: 16px;
    height: 16px;
    background-color: #A3BBC8;
}

.irs--flat .irs-handle > i:first-child {
    display: none;
}

.irs--flat .irs-bar {
    top: -0.55px;
    height: 5px;
    background-color: #A3BBC8;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
    display: none;
}


.irs--flat .irs-min, .irs--flat .irs-max {
    display: none;
}
.irs--flat {
    height: 8px;
}




.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 75px 0;
    border-bottom: 2px solid rgba(163, 187, 200, 0.4);
    .footer__logo{
        margin-bottom: 30px;
    }
    &__column-adress{
        max-width: 191px;
    }
    &__column-item{
        padding-bottom: 18px;
    }
    &__column-link{
        @extend %rubik-500;
        font-size: 14px;
        color: #7B7B7B;
    }
    &__column-title{
        color: #1F2044;
        @extend %dmsans-700;
        font-size: 16px;
        padding-bottom: 25px;
        padding-top: 20px;
        text-transform: uppercase;
    }
    &__column-newslatter{
        max-width: 270px;
    }
    &__column-newsletter-text{
        @extend %rubik-500;
        font-size: 14px;
        color: #7B7B7B;
        padding-bottom: 25px;
    }
    &__newsletter-form{
        display: flex;
    }
    &__newsletter-input{
        background-color: rgba(252, 215, 182, 0.2);
        padding: 15px 17px;
        border: none;
        max-width: 170px;
        &::placeholder{
            @extend %dmsans-400;
            font-size: 12px;
            color: #234969;            
        }
    }
    &__newsletter-btn{
        border: none;
        background-color: #A3BBC8;
        color: #fff;
        @extend %dmsans-400;
        font-size: 14px;
        padding: 15px 18px;
        cursor: pointer;
    }
}

.footer-bottom{
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    // @extend %rubik-400;
    font-size: 14px;
    &__copy{
        color: #7B7B7B;
    }
    &__link{
        color: #7B7B7B;
        padding-left: 31px;
    }
    &__link+.footer-bottom__link{
        position: relative;
        &::before{
            position: absolute;
            content: '';
            width: 1px;
            height: 14px;
            background-color: #7B7B7B;
            left: 15px;
        }
    }
}







@import 'media';