<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/blog.min.css">
</head>

<body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">
        <section class="top">
            <div class="top__inner">
                <h2 class="top__title">
                    Blog
                </h2>
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__item-link" href="#">Home</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__item-link" href="#">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="blog-page">
            <div class="container">
                <div class="blog-page__inner">
                    <div class="blog-page__content">
                        <div class="blog-page__item">
                            <div class="blog-page__images">
                                <img class="blog-page__img" src="images/blog/blog-page/1.jpeg" alt="blog images" >
                            </div>
                            <div class="blog-page__info">
                                <div class="blog-page__info-date">
                                    28 JANUARY, 2020
                                </div>
                                <div class="blog-page__info-author">
                                    BY ADMIN
                                </div>
                            </div>
                            <h2 class="blog-page__title">Fonsectetur adipisicing  eiusmod </h2>
                            <p class="blog-page__text">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                            <a class="blog-page__link" href="#">View More</a>
                        </div>
                        <div class="blog-page__item">
                            <div class="blog-page__images">
                                <img class="blog-page__img" src="images/blog/blog-page/2.jpeg" alt="blog images" >
                            </div>
                            <div class="blog-page__info">
                                <div class="blog-page__info-date">
                                    28 JANUARY, 2020
                                </div>
                                <div class="blog-page__info-author">
                                    BY ADMIN
                                </div>
                            </div>
                            <h2 class="blog-page__title">Fonsectetur adipisicing elit</h2>
                            <p class="blog-page__text">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                            <a class="blog-page__link" href="#">View More</a>
                        </div>
                        <div class="blog-page__item">
                            <div class="blog-page__images">
                                <img class="blog-page__img" src="images/blog/blog-page/3.jpeg" alt="blog images" >
                            </div>
                            <div class="blog-page__info">
                                <div class="blog-page__info-date">
                                    28 JANUARY, 2020
                                </div>
                                <div class="blog-page__info-author">
                                    BY ADMIN
                                </div>
                            </div>
                            <h2 class="blog-page__title">Fonsectetur adipisicing  eiusmod </h2>
                            <p class="blog-page__text">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                            <a class="blog-page__link" href="#">View More</a>
                        </div>
                        <div class="blog-page__item">
                            <div class="blog-page__images">
                                <img class="blog-page__img" src="images/blog/blog-page/4.jpeg" alt="blog images" >
                            </div>
                            <div class="blog-page__info">
                                <div class="blog-page__info-date">
                                    28 JANUARY, 2020
                                </div>
                                <div class="blog-page__info-author">
                                    BY ADMIN
                                </div>
                            </div>
                            <h2 class="blog-page__title">Fvonsectetur adipisicing elit</h2>
                            <p class="blog-page__text">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                            <a class="blog-page__link" href="#">View More</a>
                        </div>
                    </div>
                    <div class="blog-page__aside">
                        <form class="blog-page__form" action="#">
                            <input class="blog-page__input" type="text">
                            <button class="blog-page__btn">
                                <img class="blog-page__search-img" src="images/icons/input-search.svg" alt="search">
                            </button>
                        </form>
                        <div class="filter__item filter-category">
                            <h4 class="filter__title category-title">
                                CATEGORY
                            </h4>
                            <form class="filter-category__form" action="#">
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span class="filter-category__category">Chair</span>
                                        <span class="filter-category__arrow">
                                            <img class="filter-category__img" src="images/filter-arrow.svg" alt="">
                                        </span>
                                    </div>
                                </label>
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span class="filter-category__category">Table

                                        </span>
                                        <span class="filter-category__arrow">
                                            <img class="filter-category__img" src="images/filter-arrow.svg" alt="">
                                        </span>
                                    </div>
                                </label>
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span class="filter-category__category">Lamp
                                        </span>
                                        <span class="filter-category__arrow">
                                            <img class="filter-category__img" src="images/filter-arrow.svg" alt="">
                                        </span>
                                    </div>
                                </label>
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span class="filter-category__category">Watch
                                        </span>
                                        <span class="filter-category__arrow">
                                            <img class="filter-category__img" src="images/filter-arrow.svg" alt="">
                                        </span>
                                    </div>
                                </label>
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span class="filter-category__category">Clock</span>
                                        <span class="filter-category__arrow">
                                            <img class="filter-category__img" src="images/filter-arrow.svg" alt="">
                                        </span>
                                    </div>
                                </label>
                            </form>
                        </div>
                        <div class="blog-page__posts">
                            <h4 class="posts__title filter__title">Recent Posts</h4>
                            <div class="blog-page__posts-item">
                                <a href="#">
                                    <img class="blog-page__posts-img" src="images/blog/blog-page/4.jpeg" alt="post images">
                                </a>
                                <div class="blog-page__posts-text">
                                    <a href="#" class="blog-page__posts-title">
                                        Corem ipsum dolor tetur adipisicing elit
                                    </a>
                                    <div class="blog-page__posts-date">
                                        28 JANUARY, 2020
                                    </div>
                                </div>
                            </div>
                            <div class="blog-page__posts-item">
                                <a href="#">
                                    <img class="blog-page__posts-img" src="images/blog/blog-page/4.jpeg" alt="post images">
                                </a>
                                <div class="blog-page__posts-text">
                                    <a href="#" class="blog-page__posts-title">
                                        Fdipisicing elit, sed do eiusmod tempor
                                    </a>
                                    <div class="blog-page__posts-date">
                                        28 JANUARY, 2020
                                    </div>
                                </div>
                            </div>
                            <div class="blog-page__posts-item">
                                <a href="#">
                                    <img class="blog-page__posts-img" src="images/blog/blog-page/4.jpeg" alt="post images">
                                </a>
                                <div class="blog-page__posts-text">
                                    <a href="#" class="blog-page__posts-title">
                                        Eonsectetur adipisicing elit, sed do eiusmod 
                                    </a>
                                    <div class="blog-page__posts-date">
                                        28 JANUARY, 2020
                                    </div>
                                </div>
                            </div>
                            <div class="blog-page__posts-item">
                                <a href="#">
                                    <img class="blog-page__posts-img" src="images/blog/blog-page/4.jpeg" alt="post images">
                                </a>
                                <div class="blog-page__posts-text">
                                    <a href="#" class="blog-page__posts-title">
                                        gnim ad minim veniam, quis nostrud 
                                    </a>
                                    <div class="blog-page__posts-date">
                                        28 JANUARY, 2020
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shop__page-links">
                    <a class="shop__page-link shop__page-link--active" href="#">1</a>
                    <a class="shop__page-link" href="#">2</a>
                    <a class="shop__page-link" href="#">3</a>
                    <a class="shop__page-link" href="#">Next</a>
                </div>
            </div>
            <div class="partners">
                <div class="container">
                    <div class="partners__inner">
                        <img class="partners__logo" src="images/partners/1.png" alt="partners logo" >
                        <img class="partners__logo" src="images/partners/2.png" alt="partners logo">
                        <img class="partners__logo" src="images/partners/3.png" alt="partners logo">
                        <img class="partners__logo" src="images/partners/4.png" alt="partners logo">
                        <img class="partners__logo" src="images/partners/5.png" alt="partners logo">
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'app/module/_footer/_footer.html' %}
    <script src="js/main.min.js"></script>
</body>

</html>