<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/Terms_&_Conditions.min.css">
</head>

<body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">
        <section class="top">
            <div class="top__inner">
                <h2 class="top__title">
                    Terms & Conditions
                </h2>
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__item-link" href="#">Home</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__item-link" href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="terms">
            <div class="container">
                <div class="terms__content">
                    <div class="terms__block">
                        <h3 class="terms__title">
                            Types of Personal Information We Collect
                        </h3>
                        <ol class="terms__list" start="01">
                            <li class="terms__list-item">
                                Types of Personal Information We CollectConsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                            </li>
                            <li class="terms__list-item">
                                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                            </li>
                            <li class="terms__list-item">
                                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            </li>
                            <li class="terms__list-item">
                                Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            </li>
                            <li class="terms__list-item">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
                            </li>
                        </ol>
                    </div>
                    <div class="terms__block">
                        <h3 class="terms__title">
                            How marketpmss.com Collects Personal Infonnation
                        </h3>
                        <p class="terms__text">
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                        </p>
                    </div>
                    <div class="terms__block">
                        <h3 class="terms__title">
                            How marketprosscom Uses Personal Information
                        </h3>
                        <p class="terms__text">
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                        </p>
                    </div>
                </div>
            </div>
        </section>
        {% include 'app/module/_blog/_blog.html' %}
    </main>

    {% include 'app/module/_footer/_footer.html' %}
    <script src="js/main.min.js"></script>
</body>

</html>