.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 75px 0;
    border-bottom: 2px solid rgba(163, 187, 200, 0.4);
    .footer__logo{
        margin-bottom: 30px;
    }
    &__column-adress{
        max-width: 191px;
    }
    &__column-item{
        padding-bottom: 18px;
    }
    &__column-link{
        @extend %rubik-500;
        font-size: 14px;
        color: #7B7B7B;
    }
    &__column-title{
        color: #1F2044;
        @extend %dmsans-700;
        font-size: 16px;
        padding-bottom: 25px;
        padding-top: 20px;
        text-transform: uppercase;
    }
    &__column-newslatter{
        max-width: 270px;
    }
    &__column-newsletter-text{
        @extend %rubik-500;
        font-size: 14px;
        color: #7B7B7B;
        padding-bottom: 25px;
    }
    &__newsletter-form{
        display: flex;
    }
    &__newsletter-input{
        background-color: rgba(252, 215, 182, 0.2);
        padding: 15px 17px;
        border: none;
        max-width: 170px;
        &::placeholder{
            @extend %dmsans-400;
            font-size: 12px;
            color: #234969;            
        }
    }
    &__newsletter-btn{
        border: none;
        background-color: #A3BBC8;
        color: #fff;
        @extend %dmsans-400;
        font-size: 14px;
        padding: 15px 18px;
        cursor: pointer;
    }
}

.footer-bottom{
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    // @extend %rubik-400;
    font-size: 14px;
    &__copy{
        color: #7B7B7B;
    }
    &__link{
        color: #7B7B7B;
        padding-left: 31px;
    }
    &__link+.footer-bottom__link{
        position: relative;
        &::before{
            position: absolute;
            content: '';
            width: 1px;
            height: 14px;
            background-color: #7B7B7B;
            left: 15px;
        }
    }
}

@media (max-width: 768px){
    .footer-top{
        flex-wrap: wrap;
        &__column-newslatter{
            max-width: 100%;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}

@media (max-width: 650px){
    .footer-bottom{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__links{
            margin-top: 15px;
        }
        &__link{
            &:first-child{
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 500px){
    .footer-top{
        justify-content: space-around;
        &__column-adress{
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
        }
        &__column-list{
            display: none;
        }
    }
}